<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Karthik's Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">SKILLS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">EXPERIENCE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education">EDUCATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to My Portfolio</h1>
    <p>
        <img class="rounded-circle border border-primary mx-auto d-block" src="../../assets/pp.png" alt="My picture">
    </p>
    <h1 class="display-2 text-center">Karthik S M </h1> 
    <p class="lead text-center"> Front End Web Developer</p>
    <div class="text-center">
        <a href="https://www.linkedin.com/in/karthik-s-m-850b10147/" class="fab fa-linkedin fa-4x mr-4"></a>
        <button type="button" class="btn btn-outline-primary mr-2">Hire Me</button>
        <button type="button" class="btn btn-outline-success ml-2">Download CV</button>
        <a href="https://github.com/karthik257?tab=repositories" class="fab fa-github fa-4x ml-4"></a>
    </div>    
  </div>
  </div>
</div>

