a{
    text-decoration: none;
    color:slategray!important;
}

.jumbotron{
    background-image: url(../../assets/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

